<template>
  <div class="bar-light-grey" ref="theBar">
    <div :style="barStyle"></div>
    <span class="percentage">{{ ((100 * bar) / limit).toFixed() }}%</span>
  </div>
</template>

<script>
import {
  toRefs,
  ref,
  reactive,
  watch,
  computed,
  onMounted,
  onUnmounted,
} from "vue";

export default {
  components: {},
  props: {
    bar: Number,
    limit: Number,
  },
  setup(props) {
    let theBar = ref();

    const data = reactive({
      barWidth: 0,
      position: 0,
      barStyle: computed(() => {
        let style = "";
        if (data.position > props.limit) data.position = props.limit;
        style = ` transition: width 0.8s; height:30px; width:${(data.position *
          data.barWidth) /
          props.limit}px;`;
        if (props.bar >= props.limit) {
          style += "background-color: red";
        } else {
          style += "background-color: #8cf0df";
        }
        return style;
      }),
    });

    function onResize() {
      data.barWidth = theBar.value.clientWidth;
    }

    onMounted(() => {
      data.position = props.bar;

      onResize();

      window.addEventListener("resize", onResize);
    });
    onUnmounted(() => {
      window.removeEventListener("resize", onResize);
    });

    watch(
      () => props.bar,
      () => {
        data.position = props.bar;
      }
    );

    return {
      theBar,
      ...toRefs(data),
      onResize,
    };
  },
};
</script>

<style lang="scss" scoped>
.bar-light-grey {
  max-width: 80%;
  height: 30px;
  margin: 0 auto 20px;
  background-color: #f1f1f1 !important;
}

.percentage {
  position: relative;
  top: -24px;
}
</style>
