<template>
  <div class="container">
    <div class="row" v-for="(bar, index) in bars" :key="index">
      <div class="col-sm">
        <ProgressBar :bar="bar" :limit="limit"></ProgressBar>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-2 ">
        <select id="selectedBar" v-model="selectedBar">
          <option :value="index" v-for="(bar, index) in bars" :key="index">
            {{ `#progress ${index + 1}` }}
          </option>
        </select>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-2" v-for="(buttonNumber, index) in buttons" :key="index">
        <button class="button" type="button" @click="onClick(buttonNumber)">
          {{ buttonNumber > 0 ? "+" + buttonNumber : buttonNumber }}
        </button>
      </div>
    </div>
  </div>

  <hr />
  <div>bars{{ bars }}</div>
  <div>buttons{{ buttons }}</div>
  <div>limit{{ limit }}</div>
</template>

<script>
import ProgressBar from "./progressBar.vue";
import { toRefs, reactive, onMounted } from "vue";
import axios from "axios";

export default {
  components: { ProgressBar },

  props: {},
  setup() {
    const data = reactive({
      bars: [],
      buttons: [],
      limit: 0,
      selectedBar: 0,
    });

    onMounted(() => {
      axios.get("http://pb-api.herokuapp.com/bars").then((res) => {
        data.bars = res.data.bars;
        data.buttons = res.data.buttons;
        data.limit = res.data.limit;
      });
    });

    function onClick(buttonNumber) {
      data.bars[data.selectedBar] += buttonNumber;
      if (data.bars[data.selectedBar] < 0) data.bars[data.selectedBar] = 0;
    }
    return {
      ...toRefs(data),
      onClick,
    };
  },
};
</script>
