<template>
  <ProgressBarShell />
</template>

<script>
import ProgressBarShell from "./components/progressBarShell.vue";

export default {
  name: "App",
  components: {
    ProgressBarShell
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
